.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%; 
    height: 20px;
    background: #d3d3d3; 
    outline: none;
    opacity: 0.7; 
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 20px; 
    height: 20px; 
    background: green; 
    cursor: pointer; 
}

#settings {
    width: 30%;
    height: 100%; 
    right: 0%; 
    top: 50%; 
    color: black; 
    position: absolute;
    font-family: Arial;
    display: none;
}

#settings-image {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0%;
    bottom: 0%;
    z-index: 1;
}

span {
    vertical-align: 5px;
}